{
   "AMERITRADE":{
      "consumer_key":"FILLIN",
      "exchange":"NYSE"
   },
   "DATA":{
      "persist_historical_deltas":true
   },
   "FORECAST":{
      "days_into_future":30
   },
   "EMAIL":{
      "n_days_max":7,
      "from_email":"<add_email>",
      "to_email":"<add_email>",
      "from_pw":"<add_password>"
   },
   "MYSQL":{
      "username":"FILLIN",
      "password":"FILLIN",
      "database":"stocks",
      "tablename_historical_data":"historical_prices_v2"
   }
}