{ "GCP_STORAGE": {"bucket_name": "trading-bot-data-bucket",
    "file_name": "config.json"},
  "AMERITRADE": { "consumer_key": "FILLIN",
    "exchange":"NYSE"},
  "BIGQUERY":  {"project_id":  "trading-bot-261211",
    "dataset_id": "equity_data",
    "table_id": "daily_quote_data",
    "historical_table_id": "historical_daily_quote_data"},
  "ALPACA": {"base_url": "https://paper-api.alpaca.markets",
    "alpaca_api_key": "FILLIN",
    "alpaca_secret_key": "FILLIN",
    "auto_trade": true},
  "MOMENTUM": {"momentum_window": 125,
    "minimum_momentum": 40},
  "PORTFOLIO": {"portfolio_value": 200000,
    "portfolio_size": 10}
}